---
layout: default
title: Home
---

<div id="content" class="site-content">
    <!-- Slider -->
    {% if page.url == "/" %}
        {% include featuredbox.html %}
    {% endif %}
    <!-- Posts Index -->
    <main id="main" class="site-main inner">
        <div id="post-wrapper" class="post-wrapper">
            {% for post in paginator.posts %}
                {% include postbox.html %}
            {% endfor %}
        </div><!-- .post-wrapper -->
        <!-- Pagination-->
        {% include pagination.html %}
    </main>
</div>





