{% if paginator.total_pages > 1 %}
<nav class="navigation pagination">
  <div class="nav-links">
    {% if paginator.previous_page %}
    <a class="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa-arrow-left-custom" aria-hidden="true"></i> Newer</a>
    {% endif %}
    <span class="page-number"> Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a class="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older <i class="fa-arrow-right-custom" aria-hidden="true"></i></a>
    {% endif %}
	</div><!-- .nav-links -->
</nav><!-- .pagination -->
{% endif %}