/**
 * 7. Content
 * 7.1 Posts and Pages
 * ----------------------------------------------------------------------------
 */
 .post {
    margin-bottom: 1.875em;
}

.page-content {
    margin-bottom: 3.75em;
}

.post-thumbnail {
    margin-bottom: 1.875em;
}

a.post-thumbnail {
    border: 0;
    display: block;
    position: relative;
    text-align: center;
}

a.post-thumbnail:before {
    color: $black;
    content: "...";
    font-size: 48px;
    left: 50%;
    letter-spacing: -0.2em;
    line-height: 1;
    margin-left: 10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    transition: .3s ease-out;
    visibility: hidden;
    z-index: 1;
}

a.post-thumbnail:hover:before {
    letter-spacing: 0.2em;
    opacity: 1;
    visibility: visible;
}

a.post-thumbnail img {
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}

a.post-thumbnail:hover img {
    opacity: 0.3;
}

.entry-header {
    margin-bottom: 1.875em;
    text-align: center;
}

.entry-title {
    font-size: 36px;
    margin-bottom: 0.33333em;
    margin-top: 0;

    a {
        border: 0;
        color: inherit;
    }
}

.entry-meta,
.entry-footer,
.post-inside .post-tags {
    color: $gray;
    font: 14px/1.5 $font-secondary;
}

.post-inside .post-tags {
    font-size: 14px;
    padding-right: 0;
    text-align: center;
}

.entry-meta a,
.entry-footer a,
.post-inside .post-tags a {
    border-color: transparent;
    color: inherit;
}

.entry-meta a:hover,
.entry-footer a:hover,
.post-inside .post-tags a:hover {
    border-color: $color-accent;
    color: $black;
}

.entry-meta > span:not(:first-child):before {
    content: "\00a0\002f\00a0";
}

.entry-footer {
    margin-bottom: 2.14285em;
    margin-top: 1.28571em;
    position: relative;
}

.entry-footer:last-child {
    margin-bottom: 4.28571em;
}

.post-tags {
    padding-right: 175px;

    a:before {
        content: "\0023";
    }

}

.share-links {
    text-align: right;

    a {
        border: 0;
        color: inherit;
        display: inline-block;
        font-size: 16px;
        margin-left: 5px;
        padding: 0 5px;

        &:hover {
            color: $color-accent;
        }

    }
}

.post-tags + .share-links {
    position: absolute;
    right: 0;
    top: 0;
}

.entry-content > :last-child {
    margin-bottom: 30px;
}

/* Author box */
.post-template .author-box {
    margin-bottom: 1.875em;
    margin-top: 3em;
}

.author-info {
    border: 2px solid $gray-dark;
    padding: 30px;
    position: relative;
}

.author-info .avatar-container {
    height: 80px;
    left: 30px;
    position: absolute;
    top: 30px;
    width: 80px;
    z-index: 1;
}

.author-info .avatar-container:before {
    background-color: $color-accent;
    content: "";
    height: 100%;
    left: 8px;
    position: absolute;
    top: 8px;
    width: 100%;
    z-index: -1;
}

.avatar-container + .author-details {
    min-height: 90px;
    padding-left: 110px;
}

.author-title {
    font-size: 18px;
    margin: 0;
}

.author-description,
.author-links  {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0.625em;
}

.author-links a {
	border: 0;
	color: inherit;
	display: inline-block;
	line-height: 2;
	margin-right: 5px;
	padding: 0 5px;
}

.author-links a:hover {
	color: #00ffff;
}

/* Subscribe box */
.subscribe-box {
    margin-bottom: 1.875em;
}

.subscribe-inside {
    background-color: $black;
    color: $gray;
    font-size: 14px;
    padding: 30px;
}

.subscribe-box-title {
    border-bottom: 2px solid $gray-dark;
    color: #fff;
    font-size: 18px;
    margin: 0 0 1.33333em;
    padding-bottom: 1em;
}

/* Archives */
.page-header {
    margin-bottom: 3.75em;
}

.page-title {
    color: $gray;
    font-size: 16px;
    letter-spacing: 0.0625em;
    margin: 0 0 1.5em;
    text-align: center;
    text-transform: uppercase;
}

.page-title .highlight {
    color: $gray-dark;
}

.page-description {
    color: $gray;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}

/* Error page */
.not-found .page-header {
    margin-bottom: 2.5em;
}

.not-found .page-title {
    color: $black;
    font-size: 40px;
    letter-spacing: normal;
    margin: 0;
    text-transform: none;
}

.not-found .page-content {
    font-size: 18px;
}

/* Featured slider */
.featured-posts {
    margin: 0 auto 3.75em;
    max-width: 1180px;
}

.slider-loading {
    background-color: #fff;
    background-image: url(../images/ajax-loader.gif);
    background-position: center center;
    background-repeat: no-repeat;
    height: 630px;
}

.featured-slider {
    display: none;
}

.featured-slider .slick-slide {
    height: 630px;
    position: relative;
}

.featured-slider .slide-inner {
    border: 2px solid $gray-dark;
    bottom: 0;
    left: 220px;
    position: absolute;
    right: 0;
    top: 0;
}

.featured-slider .slide-bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.featured-slider .slide-overlay {
    background-color: #fff;
    border: 2px solid $gray-dark;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left: -220px;
    padding: 2.5em 24px;
    position: absolute;
    top: 140px;
    width: 550px;
}

.featured-slider .entry-title {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;
}

.featured-slider .slick-arrow {
    bottom: -50px;
}

.featured-slider .featured-prev {
    left: 163px;
}

.featured-slider .featured-next {
    left: 216px;
}

/**
 * 7.2 Grid Layout
 * ----------------------------------------------------------------------------
 */
.post-wrapper,
.post-wrapper .post {
    margin-bottom: 1.875em;
}

.post-wrapper .post-inside {
    border: 2px solid $gray-dark;
    opacity: 0;
    padding-bottom: 0.625em;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.post-wrapper .post-inside.is--visible {
    opacity: 1;
}

.post-wrapper .entry-header,
.post-wrapper .entry-content,
.post-wrapper .entry-footer {
    padding-left: 30px;
    padding-right: 30px;
}

.post-wrapper .post-thumbnail {
    border-bottom: 2px solid $gray-dark;
    margin-bottom: 0;
}

.post-wrapper .entry-header {
    margin-bottom: 1.5em;
    padding-top: 1.875em;
    position: relative;
}

.post-wrapper .entry-title {
    font-size: 24px;
}

.post-wrapper .entry-meta,
.post-wrapper .entry-footer {
    font-size: 12px;
}

/**
 * 7.3 Comments
 * ----------------------------------------------------------------------------
 */
.comments-area {
    margin-bottom: 3.75em;
    margin-top: 3.75em;
}

.comments-inside {
    border: 2px solid $gray-dark;
    padding: 1.875em 30px;
}

.comments-title {
    color: $black;
    margin: 0 0 1.5em;
}

/**
 * 7.4 Post/Paging Navigation
 * ----------------------------------------------------------------------------
 */
.navigation {
    margin-bottom: 3.75em;

    a {
        border-color: transparent;

        &:hover {
            border-color: $color-accent;
        }

    }

}

.pagination .nav-links {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1.5;
    padding: 0 120px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.pagination .prev,
.pagination .next {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}

.pagination .prev {
    left: 0;
}

.pagination .next {
    right: 0;
}

.post-navigation {
    margin-top: 3.75em;
}

.post-navigation .nav-previous,
.post-navigation .nav-next {
    position: relative;
}

.post-navigation .nav-previous {
    border-bottom: 2px solid $gray-dark;
    padding-bottom: 2.5em;
    margin-bottom: 2.5em;
    text-align: left;
}

.post-navigation .nav-previous:last-child {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.post-navigation .nav-next {
    text-align: right;
}

.post-navigation .nav-inside {
    border: 0;
    display: block;
    position: relative;
}

.nav-previous .nav-inside {
    padding-right: 130px;
}

.nav-next .nav-inside {
    padding-left: 130px;
}

.post-navigation .nav-before,
.post-navigation .nav-meta {
    color: $gray;
    display: block;
    font: 12px/1.5 $font-secondary;
}

.post-navigation .nav-title {
    color: $black;
    display: block;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-top: 0.25em;
}

.post-navigation .nav-thumb {
    border: 2px solid $gray-dark;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70px;
    position: absolute;
    top: 0;
    width: 115px;
}

.nav-next .nav-thumb {
    left: 0;
}

.nav-previous .nav-thumb {
    right: 0;
}

.nav-inside:before {
    color: $color-accent;
    font-family: 'fontawesome' !important;
    speak: none;
    font-size: 72px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 0;
    -webkit-transition: color .3s ease-out;
    -moz-transition: color .3s ease-out;
    transition: color .3s ease-out;
}

.nav-previous .nav-inside:before {
    content: "\e900";
    left: -110px;
}

.nav-next .nav-inside:before {
    content: "\e901";
    right: -110px;
}

.nav-inside:hover:before {
    color: $black;
}