// Fonts
$font-primary: "Helvetica Neue", Helvetica, "Roboto", sans-serif;
$font-secondary: "Lucida Sans Typewriter", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;


// Colors
$color-accent: rgb(142, 199, 255);
$black: #1c1c1c;
$gray-dark: #333;
$gray: #999;
$gray-light: #f1f1f1;
$yellow: #ffdfec;
