// Fonts
$font-primary: "Helvetica Neue", Helvetica, "Roboto", sans-serif;
$font-secondary: "Lucida Sans Typewriter", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;


// Colors
$color-accent: #0ff;
$black: #111;
$gray-dark: #333;
$gray: #999;
$gray-light: #f1f1f1;
$yellow: #ffff00;
