---
layout: default
disqus: false
post_class: post-template
---

<div id="content" class="site-content">
    <main id="main" class="site-main inner">
        <article class="post">
            {% if page.featured_image %}
                <div class="post-thumbnail"><img src="{{ page.featured_image | absolute_url }}" alt="{{ page.title }}"></div>
            {% endif %}
            <header class="entry-header">
                <h1 class="entry-title">{{ page.title }}</h1>
                <div class="entry-meta">
                    {% for author in site.data.authors %}
                    {% if author[1].username == page.author %}
                    <span class="post-author"><a href="{{ '/author/' | append: page.author | absolute_url }}">{{ author[1].name }}</a></span>
                    {% endif %}
                    {% endfor %}
                    <span class="post-categories">
                        {% for category in page.categories %}
                        <a href="{{ '/categories/' | append: category | downcase | replace: ' ', '-' | absolute_url }}">{{ category }}</a>{% unless forloop.last %}, {% endunless %}
                        {% endfor %}
                    </span>
                    <span class="post-date">
                        <time class="published" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %-d, %Y" }}</time>
                    </span>
                </div><!-- .entry-meta -->
            </header><!-- .entry-header -->
            <div class="entry-content">
                {{content}}
            </div>
            <footer class="entry-footer">
                {% if page.tags.size > 0 %}
                <p class="post-tags">
                    {% for tag in page.tags %} 
                    <a href="{{ '/tag/' | append: tag | downcase | replace: ' ', '-' | absolute_url }}">{{ tag | camelcase }}</a>{% unless forloop.last %}, {% endunless %}
                    {% endfor %}
                </p>
                {% endif %}
            </footer>
            {% for author in site.data.authors %}
            {% if author[1].username == page.author %}
            <div class="author-box">
                <div class="author-info">
                    {% if author[1].picture %}
                    <div class="avatar-container">
                        <img class="author-profile-image" src="{{ author[1].picture | absolute_url }}" alt="{{ page.author }}" class="avatar" />
                    </div>
                    {% endif %}
                    <div class="author-details">
                        <h2 class="author-title">About <a href="{{ '/author/' | append: page.author | absolute_url }}">{{ author[1].name }}</a></h2>
                        {% if author[1].bio %}
                        <p class="author-description">{{ author[1].bio }}</p>
                        {% else %}
                        <p class="author-description">Read <a href="{{ '/author/' | append: page.author | absolute_url }}">more posts</a> by this author.</p>
                        {% endif %}
                        <div class="author-links">
                            {% if author[1].url %}
                            <a href="{{ author[1].url_full }}" target="_blank" rel="noopener">
                                <i class="fa-globe" aria-hidden="true"></i>
                                <span class="screen-reader-text">Website</span>
                            </a>
                            {% endif %}
                            {% if author[1].facebook %}
                            <a href="https://facebook.com/{{ author[1].facebook }}" target="_blank" rel="noopener">
                                <i class="fa-facebook" aria-hidden="true"></i>
                                <span class="screen-reader-text">Facebook</span>
                            </a>
                            {% endif %}
                            {% if author[1].twitter %}
                            <a href="https://twitter.com/{{ author[1].twitter }}" target="_blank" rel="noopener">
                                <i class="fa-twitter" aria-hidden="true"></i>
                                <span class="screen-reader-text">Twitter</span>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div><!-- .author-info -->
            </div><!-- .author-box -->
            {% endif %}
            {% endfor %}
        </article>
        {% if site.mailchimp_url %}
            {% include newsletter-box.html %}
        {% endif %}
        <nav class="navigation post-navigation">
            <h2 class="screen-reader-text">Post navigation</h2>
            <div class="nav-links">
            {% if page.previous.url %}
            <div class="nav-previous">
                <a href="{{ page.previous.url | absolute_url }}" class="nav-inside">
                    <span class="nav-before">Previous post</span>
                    <span class="nav-title">{{page.previous.title}}</span>
                    <span class="nav-meta">{{page.previous.date | date: "%B %-d, %Y"}}</span>
                    {% if page.previous.featured_image_thumbnail %}
                        <span class="nav-thumb" style="background-image: url({{ page.previous.featured_image_thumbnail | absolute_url }})"></span>
                    {% elsif page.previous.featured_image %}
                        <span class="nav-thumb" style="background-image: url({{ page.previous.featured_image | absolute_url }})"></span>
                    {% else %}
                    {% endif %}
                </a>
            </div>
            {% endif %}
            {% if page.next.url %}
            <div class="nav-next">
                <a href="{{ page.next.url | absolute_url }}" class="nav-inside">
                    <span class="nav-before">Next post</span>
                    <span class="nav-title">{{page.next.title}}</span>
                    <span class="nav-meta">{{page.next.date | date: "%B %-d, %Y"}}</span>
                    {% if page.next.featured_image_thumbnail %}
                        <span class="nav-thumb" style="background-image: url({{ page.next.featured_image_thumbnail | absolute_url }})"></span>
                    {% elsif page.next.featured_image %}
                        <span class="nav-thumb" style="background-image: url({{ page.next.featured_image | absolute_url }})"></span>
                    {% else %}
                    {% endif %}
                </a>
            </div>
            {% endif %}
            </div><!-- .nav-links -->
        </nav><!-- .post-navigation -->
        {% include disqus.html %}
    </main><!-- .site-main -->
</div><!-- .site-content -->