---
layout: default
current: tag
title: Tag Page
class: 'tag-template'
---

<div id="content" class="site-content">
    <main id="main" class="site-main inner">
        <header class="page-header">
            <h1 class="page-title">
                {{ paginator.total_posts }} {% if paginator.total_posts == 1 %}post{% else %}posts{% endif %} tagged <span class="highlight">{{ page.tag }}</span>
            </h1>
        </header>
        <div id="content-wrapper" class="content-wrapper">
            {% for post in site.tags[page.tag] %}
            <article class="post-item">
                <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
            </article>
            {% endfor %}
        </div><!-- .content-wrapper -->
    </main><!-- .site-main -->
</div><!-- .site-content -->